################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/learn/v15/ipch/AutoPCH/9f1339f623cb018/SORTTEST.ipch
/.vs/learn/v15/Browse.VC.opendb
/.vs/learn/v15/Browse.VC.db
/Release/zutil.obj
/Release/vc141.pdb
/Release/uncompr.obj
/Release/trees.obj
/Release/SortTest.obj
/Release/learn.tlog/link.write.1.tlog
/Release/learn.tlog/link.read.1.tlog
/Release/learn.tlog/link.command.1.tlog
/Release/learn.tlog/learn.write.1u.tlog
/Release/learn.tlog/learn.lastbuildstate
/Release/learn.tlog/CL.write.1.tlog
/Release/learn.tlog/CL.read.1.tlog
/Release/learn.tlog/CL.command.1.tlog
/Release/learn.tlog
/Release/learn.pdb
/Release/learn.obj
/Release/learn.log
/Release/learn.ipdb
/Release/learn.iobj
/Release/learn.exe
/Release/infutil.obj
/Release/inftrees.obj
/Release/inflate.obj
/Release/inffast.obj
/Release/infcodes.obj
/Release/infblock.obj
/Release/HashMapTest.obj
/Release/deflate.obj
/Release/cosSin.obj
/Release/compress.obj
/Release/adler32.obj
/learn.sln
