################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug/zutil.obj
/Debug/uncompr.obj
/Debug/trees.obj
/Debug/stdafx.obj
/Debug/infutil.obj
/Debug/inftrees.obj
/Debug/inflate.obj
/Debug/inffast.obj
/Debug/infcodes.obj
/Debug/infblock.obj
/Debug/deflate.obj
/Debug/compress.obj
/Debug/adler32.obj
/Release/infutil.obj
/Release/inftrees.obj
/Release/inflate.obj
/Release/inffast.obj
/Release/infcodes.obj
/Release/infblock.obj
/Release/HashMapTest.obj
/Release/deflate.obj
/Release/cosSin.obj
/Release/compress.obj
/Release/adler32.obj
/Release/learn.obj
/Release/learn.log
/Release/learn.ipdb
/Release/learn.iobj
/Release/learn.exe
/Release/zutil.obj
/Release/vc141.pdb
/Release/uncompr.obj
/Release/trees.obj
/Release/SortTest.obj
/Release/learn.pdb
/Release/learn.tlog/link.write.1.tlog
/Release/learn.tlog/link.read.1.tlog
/Release/learn.tlog/link.command.1.tlog
/Release/learn.tlog/learn.write.1u.tlog
/Release/learn.tlog/learn.lastbuildstate
/Release/learn.tlog/CL.write.1.tlog
/Release/learn.tlog/CL.read.1.tlog
/Release/learn.tlog/CL.command.1.tlog
*.ipch
*.suo
*.opendb
*.db
